<footer>
    <section class="info-container">
        <div>
            <h3>Colonne 1</h3>
            <ul>
                <li><a href="/">Test</a></li>
                <li><a href="/">Test</a></li>
                <li><a href="/">Test</a></li>
            </ul>
        </div>
        <div>
            <h3>Colonne 4</h3>
            <ul>
                <li><a href="/">Test</a></li>
                <li><a href="/">Test</a></li>
                <li><a href="/">Test</a></li>
            </ul>
        </div>
        <div>
            <h3>Colonne 3</h3>
            <ul>
                <li><a href="/">Test</a></li>
                <li><a href="/">Test</a></li>
                <li><a href="/">Test</a></li>
            </ul>
        </div>
    </section>
    <section class="icon-container">
        <a href="/"><img src="img/icon.ico" alt="icon"></a>
        <a href="/"><img src="img/icon.ico" alt="icon"></a>
        <a href="/"><img src="img/icon.ico" alt="icon"></a>
    </section>
</footer>