<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">
    <title>Get Weather From City | About</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/footer.css">
  </head>
  <body>
    <header><%- include("_navbar") -%></header>
    <section>
      <article data-username="NaorimSenchai">
        <img
          src="https://avatars.githubusercontent.com/u/56729935?v=4"
          alt="NaorimSenchai"
        />
        ​
        <h2>Romain Chenais</h2>
        ​
        <p>
          ​🔭 I’m 22 years old ​<br />🌱 I’m currently learning Back End
          developer stuff. ​ <br />👯 My passions are music, drawing and
          programming. ​
        </p>
      </article>
      <article data-username="Mathieu-URA">
        <img
          src="https://avatars.githubusercontent.com/u/72381237?v=4"
          alt="Mathieu-URA"
        />
        <h2>Mathieu Perran</h2>
        ​
        <p>
          ​🔭 I’m 27 years old <br />​🌱 I’m currently learning Back End
          developer stuff. <br />​👯 My passions are music, videogames, anime.
        </p>
      </article>

      <article data-username="Kero3333">
        <img
          src="https://avatars.githubusercontent.com/u/89534497?v=4"
          alt="Kero3333"
        />
        ​
        <h2>Kévin Robic</h2>
        ​
        <p>
          ​🔭 I’m 23 years old ​ <br />🌱 I’m currently learning Back End
          developer stuff. <br />​👯 My passions are computer science, anime,
          videogames. ​
        </p>
      </article>
    </section>
    <%- include("_footer") -%>
  </body>
  <script src="js/about.js"></script>
</html>
