<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">
    <title>Get Weather From City</title>

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <header><%- include("_navbar") -%></header>
    <section id="card-container">
      <div class="card">
        <form method="post">
          <label for="city" class="col-sm-2 col-form-label">Enter a city</label>
          <input id="city" type="text" class="form-control" name="city" />
          <input
            id="submit"
            type="submit"
            class="btn btn-primary"
            value="Send"
          />
        </form>
        <% if (locals.info) { %>
          <p>The temperature of <%= info.city %> is <%= info.temp %>°C</p>
        <% } %>
      </div>
    </section>
    <%- include("_footer") -%>
  </body>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.clouds.min.js"></script>
  <script>
    VANTA.CLOUDS({
      el: "#card-container",
      mouseControls: false,
      touchControls: false,
      gyroControls: false,
      minHeight: 200.0,
      minWidth: 200.0,
    });
  </script> -->
  <script src="js/index.js"></script>
</html>
